@mixin frame_size($width, $height: $width) {
  width: $width;
  height: $height;
}

.avatar {
  @include frame-size(150px);
  border-radius: 50%;
  @extend %size;
}

.icon {
  @include frame-size(50px);
  @extend %size;
}
