@use "sass:map";

$color-primary: purple;
$color-secondary: green;
$color-accent: blue;
$color-background: orange;

$colors: (
  "primary": $color-primary,
  "secondary": $color-secondary,
  "accent": $color-accent,
  "background": $color-background,
);

body {
  background-color: map.get($colors, "background");
}

@function get-color($key) {
  @return map.get($colors, $key);
}
